  <div style="padding-right: 29px;">
        <ul class="nav navbar-nav submenu navbar-right">
            {{#each menu}}
            <li class="dropdown">
                <a href="{{this.url}}" class="link-sub">{{this.linktext}}</a>
                <ul class="dropdown-menu" style="width: 200px;">
                    {{#each this.submenu}}
                    <li>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="{{this.id}}" acordionid="A{{this.id}}">
                                {{this.linktext}}
                                {{#unless this.url}}<b class="caret mycaret"></b>{{/unless}}
                            </div>
                            {{#unless this.url }}
                            <div id="A{{this.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="dl-horizontal">{{this.accordion.text}}</p>
                                    <a href="{{this.accordion.url}}" class="see">see more</a>
                                </div>
                            </div>
                            {{/unless}}
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
</div>